{{- $dateFormat := "2006年01月02日" -}}
{{- $lastmodFormat := "2006年01月02日" -}}

<div class="post-meta">
    {{- if not .Date.IsZero -}}
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format $dateFormat }}</time>
    {{- end -}}
    {{- if not .Lastmod.IsZero -}}
    {{- if ne (.Date.Format $dateFormat) (.Lastmod.Format $lastmodFormat) -}}
    <span class="post-meta-divider">·</span>
    <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">更新于 {{ .Lastmod.Format $lastmodFormat }}</time>
    {{- end -}}
    {{- end -}}
    {{- with .Params.categories -}}
    <span class="post-meta-divider">·</span>
    <span class="post-categories">
        {{- range . -}}
        <a href="{{ "categories/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
    </span>
    {{- end -}}
    {{- with .Params.tags -}}
    <span class="post-meta-divider">·</span>
    <span class="post-tags">
        {{- range . -}}
        <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
    </span>
    {{- end -}}
    {{- if .Params.ShowReadingTime -}}
    <span class="post-meta-divider">·</span>
    <span class="post-reading-time">预计阅读 {{ .ReadingTime }} 分钟</span>
    {{- end -}}
    {{- if .Params.ShowWordCount -}}
    <span class="post-meta-divider">·</span>
    <span class="post-word-count">{{ .WordCount }} 字</span>
    {{- end -}}
</div> 